image: python:3.11

stages:
  - test

test-backend:
  stage: test
  before_script:
    - pip install --upgrade pip
    - pip install -r requirements.txt
  script:
    - python manage.py test
  only:
    - master
    - main